.requestmy{
  /* padding: 20px; */
  box-sizing: border-box;
  
}

.contenedormy-lista::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedormy-lista::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedormy-lista::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedormy-lista::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedormy-lista::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedormy-lista::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.requestmy-contenido{
    display: flex;
    box-sizing: border-box;
    background-color: rgb(248, 241, 218);
    border-radius: 0 0 10px 10px;
}

.contenedor-nueva-solicitud{
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.contenedor-nueva-solicitud a{
  text-decoration: none;
}

.boton-solicitud {
  width: 25%;
  padding: 10px;
  /* margin: 10px auto; */
  border: 1px solid #596275;
  border-radius: 0 15px 0 15px;
  display: flex;
  align-items: center;
  background-color: #2c3e50;
}
.boton-solicitud span {
  color: rgb(248, 241, 218);
}
.boton-solicitud img {
  height: 20px;
  margin-right: 10px;
}

.boton-solicitud:hover {
  background-color: #596275;
}

.contenedormy-lista{
    width: 55%;
    height: 550px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.itemmy-lista{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #c3cedb;
    border-left: 1px solid #c3cedb;
    border-radius: 5px;
    box-sizing: border-box;
    cursor:pointer;
    display: flex;
    align-items: center;
}

.itemmy-lista:hover{
    border-right: none;
    background-color: #f5f4ee;
}

.itemmy-lista-titulo{
    width: 70%;
    overflow: hidden;

}

.itemmy-lista-botones{
    width: 30%;
    display: flex;
    align-items: center;
}

.itemmy-lista-botones-imagen{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c3cedb;
    margin-right: 15px;
  }

  .itemmy-lista-botones-fecha{
    padding: 5px;
    border: 1px solid #c3cedb;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
  }

  .itemmy-lista-botones-estado{
    padding: 5px;
    border: 1px solid #c3cedb;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-right: 15px;
    background-color: #17c0eb;
  }

  .contenedor-requestmy{
    width: 45%;
    height: 550px;
    padding: 10px;
    border-left: 1px solid #c3cedb;
    box-sizing: border-box;
}

  .requestmy-encabezado{
    height: 40px;
    display: flex;
    align-items: center;
  }

  .requestmy-titulo{
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .requestmy-titulo-imagen{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #c3cedb;
    padding: 5px;
  }

  .requestmy-usuario {
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .requestmy-usuario span{
    font-size: 14px;
    font-weight: bold;
    color: #2c3e50;
    text-align: left;
  }
  
  .requestmy-usuario-imagen {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #c3cedb;
  }
  
  .requestmy-usuario-info {
    margin: auto 10px;
  }
  
  .requestmy-usuario-info p {
    font-size: 14px;
    color: #2c3e50;
    margin: 0;
    text-align: left;
  }

  .requestmy-etiqueta{
    width: 100px;
    color: #2c3e50;
    font-size: 14px;
    font-weight: bold;
  }

  .requestmy-fecha-estado{
    display:flex;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 10px;
  }

  .requestmy-fecha {
    width: 45%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .requestmy-date {
    padding: 5px;
    border: 1px solid #c3cedb;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
  }

  .requestmy-estado{
    width: 45%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .requestmy-detalle{
    margin-top: 20px;
    display:flex;
  }

  .requestmy-detalle p{
    height: 100px;
    font-size: 13px;
    color: #2c3e50;
    text-align: justify;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 0 0 5px;
    overflow:scroll;
  }

  .requestmy-detalle p::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .requestmy-detalle p::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  .requestmy-detalle p::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  .requestmy-detalle p::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .requestmy-detalle p::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  .requestmy-detalle p::-webkit-scrollbar-track {
    border-radius: 10px;  
  }

.tabuladoresmy{
  display: flex;
  width: 100%;
  height: 30px;
}

.tabmy{
  height: inherit;
  padding: 5px 10px;
  font-size: 13px;
  text-align: left;
  color: #2c3e50;
  box-sizing: border-box;
  border-radius: 0 20px 0 0;
}

#tabmy-observaciones{
  width: 25%;
  border-left: 1px solid #c3cedb;
  border-right: 1px solid #c3cedb;
  border-top: 1px solid #c3cedb;
  background-color: rgb(234, 233, 247);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

#tabmy-comentarios{
  width: 25%;
  border-left: 1px solid #c3cedb;
  border-right: 1px solid #c3cedb;
  border-top: 1px solid #c3cedb;
  border-bottom: 1px solid #c3cedb;
  cursor: pointer;
}

#tabmy-blanco{
  width: 50%;
  border-bottom: 1px solid #c3cedb;
}
  
.contenedormy-observaciones{
  height: 220px;
  border-left: 1px solid #c3cedb;
  border-right: 1px solid #c3cedb;
  border-bottom: 1px solid #c3cedb;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  background-color: rgb(234, 233, 247);
}

.observacionesmy{
  overflow-y: scroll;
  height: 180px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.observacionesmy::-webkit-scrollbar {
  -webkit-appearance: none;
}

.observacionesmy::-webkit-scrollbar:vertical {
  width:10px;
}

.observacionesmy::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.observacionesmy::-webkit-scrollbar:horizontal {
  height: 10px;
}

.observacionesmy::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.observacionesmy::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.itemmy-observaciones{
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #c3cedb;
  margin-bottom: 5px;
  border-radius: 5px;
}

.itemmy-observaciones p{
  width: 90%;
  font-size: 12px;
  padding: 5px;
  margin: 0;
  height: auto;
}

.itemmy-observaciones-tipo{
  width: 15%;
  padding: 5px;
  border: 1px solid #c3cedb;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.itemmy-observaciones-imagen{
  height: 30px;
  width: 30px;
  margin: auto 5px;
  border-radius: 50px;
}

.nuevamy-observacion{
  width: 100%;
  height: 40px;
  display:flex;
  align-items: center;
  border-top: 1px solid #c3cedb;
}

.nuevamy-observacion-texto{
  width: 80%;
  height: 20px;
  border: 1px solid #c3cedb;
  border-radius: 5px;
  padding: 5px;
  font-size: 11px;
  background-color: rgb(234, 233, 247);
}

.nuevamy-observacion-boton{
  border: 1px solid #c3cedb;
  border-radius: 10px;
  background-color: #2c3e50;
  color: #dfe4ea;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  width: 15%;
  margin: 0 auto;
  cursor: pointer;
}

#contenedormy-comentarios{
  display: none;
}